*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 101%;
  }
  @keyframes fade {
    0%{opacity: 0.3;}
    100%{opacity: 1;}
  }
  .coment{
    user-select: none;
    animation: fade 1s;
    margin: 8px auto;
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: rgb(35, 35, 39);
    background-color: whitesmoke;
    border-radius: 10px;
    width: 100%;
    &:hover{
      box-shadow: 1px 1px 2px gray, inset 1px 1px 2px rgb(204, 204, 204);
  
    }
    p{
      margin-bottom: 8px;
      width: 60%;
    }

    small{
      text-align: right;
      color: gray;
      font-size: 80%;
    }
  }
  
  .actions{
    display: flex;
    align-items: center;
    gap: 16px;
    img{
      width: 24px;
      cursor: pointer;
    }
  }
  
  .footerComents{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }